

body{
    margin:0; padding:0;
    font-family: 'Droid Sans', sans-serif;;
}

a {
    color: #fff;
}

.percent{
    font-size:1.3em;
    font-weight:600;
}
.infolist{
    padding-left:1em;
}
.infolist li{
    list-style:none;
}

/*default page*/
#map{
    margin-top:4em;
    position:absolute;
    top:0; bottom:0;left:0;right:0;
    width:100%;
}

.navbar-inverse .navbar-brand {
color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
color: #FFF;
}

.navbar-brand {
    font-weight: 700;
    font-size: 22px;
   
}
.navbar-inverse{
    background:#222222;
    border-radius:0;
    margin-bottom:0;
    z-index:1002;
}
.dropdown-menu{
    z-index:1001;
}
#sidebar-wrapper{
    background:#222222;
    background:rgba(0,0,0,0.85);
    color:#FFF;
    height: 100%;
/*  margin-top:-2em;*/
    width:15em;
    position: fixed;
    right:0;
    padding:1em;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper h4{
    border-bottom:1px dotted #DFDFDF;
    padding-bottom:2px;
}

.sidebar-nav  {
    color: #FFF;
    font-weight: 700;
}

.toggle-sidebar{
    display:none;
    width:0;
}

#canvas .circle {
            display: inline-block;
            margin: 1em;
        }