{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}

{% block content %}
        <div class="container">
            <h1>Data for: {{ spray_operator_name }}</h1>
            <ol class="breadcrumb">
              <li><a href="{% url "mda:performance:rhcs" rhc.parent.pk %}">{{ RHC_LABEL_PLURAL }}</a></li>
              <li><a href="{% url "mda:performance:spray-operator-summary" rhc.pk %}">{{ COMMUNITY_HEALTH_WORKER_LABEL_PLURAL }}</a></li>
              <li class="active">{{ COMMUNITY_HEALTH_WORKER_LABEL }}</li>
            </ol>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th rowspan="2">Day</th>
                                <th rowspan="2">Date</th>
                                <th colspan="2">Found</th>
                                <th colspan="3">Residential</th>
                                <th rowspan="2">Data collection start time</th>
                                <th rowspan="2">Data collection end time</th>
                                <th rowspan="2">Duration in field</th>
                            </tr>
                            <tr>
                                <th>Residential</th>
                                <th>Non-Residential</th>
                                <th>All Received</th>
                                <th>Some Received</th>
                                <th>None Received</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                                <tr>
                                    <td>{{ forloop.counter }}</a></td>
                                    <td>{{ row.date|date:'d-M' }}</a></td>
                                    <td class='numbers'>{{ row.sprayable|intcomma }}</td>
                                    <td class='numbers'>{{ row.not_eligible|intcomma }}</td>
                                    <td class='numbers'>{{ row.data.all_received|intcomma }}</td>
                                    <td class='numbers'>{{ row.data.some_received|intcomma }}</td>
                                    <td class='numbers'>{{ row.data.none_received|intcomma }}</td>
                                    <td class='numbers {{ row.avg_start_time|avg_start_time_color }}'>{{ row.avg_start_time|format_avg_time }}</td>
                                    <td class='numbers {{ row.avg_end_time|avg_end_time_color }}'>{{ row.avg_end_time|format_avg_time }}</td>
                                    <td class='numbers'>{% avg_time_interval row.avg_end_time row.avg_start_time %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Totals</td>
                                <td class='numbers'>{{ totals.sprayable|intcomma  }}</td>
                                <td class='numbers'>{{ totals.not_eligible|intcomma }}</td>
                                <td class='numbers'>{{ totals.data.all_received|intcomma }}</td>
                                <td class='numbers'>{{ totals.data.some_received|intcomma }}</td>
                                <td class='numbers'>{{ totals.data.none_received|intcomma }}</td>
                                <td class='numbers {{ totals.avg_start_time|avg_start_time_color }}'>{{ totals.avg_start_time|format_avg_time }}</td>
                                <td class='numbers {{ totals.avg_end_time|avg_end_time_color }}'>{{ totals.avg_end_time|format_avg_time }}</td>
                                <td class='numbers'>{% avg_time_interval totals.avg_end_time totals.avg_start_time %}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% include 'definitions-and-conditions.html' %}
        </div>
{% endblock %}
