django
psycopg2
django_nose
djangorestframework-gis
django-cors-headers
django-filter
django-mptt
python-dateutil
python3-memcached
pydruid
rapidpro-python

# dev
coverage
flake8
django-extensions
ipdb
pylint
pylint-django
pylint-celery

# deployment
uwsgi
boto
django-ses-backend
django-debug-toolbar
lxml
requests
httmock
celery>=3.1.8
