{% if top_level %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown">
        <span class="dist_label">
            {% with sub1=locations|first top1=top_level|first %}
            {{ top1.level|title }}:
                {% for loc in top_level %}
                    {% if loc.id == sub1.parent or loc.id == district.id %}
                        {{ loc.name }}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    {% for loc in top_level %}
        <li>
            {% if map_menu %}
            <a href="{% url 'warehouse:district_map' loc.id %}">{{ loc.name }}</a>
            {% else %}
            <a href="{% url 'warehouse:district' loc.id %}">{{ loc.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>
{% endif %}
{% if locations %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown">
        <span class="dist_label">
            {% with sub1=locations|first top1=locations|first %}
            {{ top1.level|title }}:
                {% for loc in locations %}
                    {% if loc.id == district.parent.id or loc.id == district.id %}
                        {{ loc.name }}
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    {% for loc in locations %}
        <li>
            {% if map_menu %}
            <a href="{% url 'warehouse:rhc_map' loc.id %}">{{ loc.name }}</a>
            {% else %}
            <a href="{% url 'warehouse:rhc' loc.id %}">{{ loc.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>
{% endif %}
{% if sub_locations %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown">
        <span class="dist_label">
            {% with sub1=sub_locations|first %}
                {{ sub1.level|title }}:
                {% if sub1.level == object.level %}
                    {{ object.name }}
                {% else %}
                    : All
                {% endif %}
            {% endwith %}
        </span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" id="sub_locations_list">
    {% for loc in sub_locations %}
        <li>
            {% if loc.level == ta_level or map_menu %}
            <a href="{% url 'warehouse:ta' loc.id %}">{{ loc.name }}</a>
            {% else %}
            <a href="{% url 'warehouse:district' loc.id %}">{{ loc.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>
{% endif %}
