                        {% if districts %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <span class="dist_label">Districts :{% if district_name %} {{ district_name }}{% else %} All{% endif%}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" id="districts_list">
                            {% for code, name in districts %}
                                <li>
                                    <a href="{% url 'district' code  %}">{{ name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
