{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}
{% load progress_extras %}

{% block content %}
<div class="container" id="district_table">
    <div "col-sm-12" id="table-container">
        <h1 id="district-name">District:{% if district_name %} {{ district_name }}{% else %} All{% endif%}</h1>
        <table id="target_areas" class="table table-stripe">
            <thead>
                {% if not district or district.level == 'district' %}
                <tr>
                    <th rowspan="2">{% if district %} Health Facility {% else %} District {% endif%}</th>
                    <th rowspan="2">Eligible Structures within Spray Areas</th>
                    <th colspan="2">Spray Areas Visited</th>
                    <th colspan="2">Spray Areas Sprayed Effectively</th>
                </tr>
                <tr>
                    <th>Number</th>
                    <th>%</th>
                    <th>Number</th>
                    <th>%</th>
                </tr>
                {% else %}
                <tr>
                    <th>Target Area</th>
                    <th>Structures on ground</th>
                    <th>Found</th>
                    <th>Sprayed</th>
                    <th>Spray Effectiveness</th>
                    <th>Found coverage</th>
                    <th>Spray coverage</th>
                </tr>
                {% endif%}
            </thead>
            <tbody>
            {% if not district or district.level == 'district' %}
                {% for district in district_list %}
                    <tr>
                        <td>
                            {% if higher_level_map and not district_name %}
                            <a href="{% url 'target_area' district.targetid district.targetid %}">
                                <i class="fa fa-map"></i>
                            </a>
                            {% endif %}
                            {% if district_name and district.level == ta_level %}
                            <a href="{% url 'target_area' district_code district.targetid %}">
                                <i class="fa fa-map"></i>
                                {{ district.district_name }}
                            </a>
                            {% else %}
                            <a href="{% url 'district' district.targetid %}">{{ district.district_name }}</a>
                            {% endif %}
                        </td>
                        <td class='numbers'>{{ district.structures|intcomma }}</td>
                        <td class='numbers'>{{ district.visited_total|intcomma }}</td>
                        <td class='numbers'>{% if site_name != 'namibia' %} {% percentage district.visited_total district.structures %} {% endif %}</td>
                        <td class='numbers'>{{ district.visited_sprayed|intcomma }}</td>
                        {% calc_percentage district.visited_sprayed district.structures as calculated_percentage %}
                        <td class='numbers {{ calculated_percentage|sprayed_effectively_color }}'>{{ calculated_percentage }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for district in district_list %}
                    <tr>
                        <td>
                            {% if higher_level_map and not district_name %}
                            <a href="{% url 'target_area' district.targetid district.targetid %}">
                                <i class="fa fa-map"></i>
                            </a>
                            {% endif %}
                            {% if district_name and district.level == ta_level %}
                            <a href="{% url 'target_area' district_code district.targetid %}">
                                <i class="fa fa-map"></i>
                                {{ district.district_name }}
                            </a>
                            {% else %}
                            <a href="{% url 'district' district.targetid %}">{{ district.district_name }}</a>
                            {% endif %}
                            </td>
                        </td>

                        <td class='numbers'>{{ district.structures|intcomma }}</td>
                        <td class='numbers'>{{ district.found|intcomma }}</td>
                        <td class='numbers'>{{ district.visited_sprayed|intcomma }} </td>
                        {% calc_percentage district.visited_sprayed district.structures as spray_effectiveness_percentage %}
                        <td class='numbers {{ spray_effectiveness_percentage|sprayed_effectively_color }}'>{{ spray_effectiveness_percentage }}</td>
                        {% calc_percentage district.found district.structures as found_coverage_percentage %}
                        <td class='numbers'>{{ found_coverage_percentage }}</td>
                        {% calc_percentage district.visited_sprayed district.found as spray_coverage_percentage %}
                        <td class='numbers'>{{ spray_coverage_percentage }}</td>
                    </tr>
                {% endfor %}
            {% endif%}
            </tbody>
            <tfoot>
                <tr>
                    <td>Totals</a></td>
                    {% if not district or district.level == 'district' %}
                        <td class='numbers'>{{ district_totals.structures|intcomma  }}</td>
                        <td class='numbers'>{{ district_totals.visited_total|intcomma  }}</td>
                        <td class='numbers'>{% if site_name != 'namibia' %} {% percentage district_totals.found district_totals.structures %} {% endif %}</td>
                        <td class='numbers'>{{ district_totals.visited_sprayed|intcomma }}</td>
                        {% calc_percentage district_totals.visited_sprayed district_totals.structures as total_calculated_percentage %}
                        <td class='numbers {{ total_calculated_percentage|sprayed_effectively_color }}'>{{ total_calculated_percentage }}</td>
                    {% else %}
                        <td class='numbers'>{{ district_totals.structures|intcomma }}</td>
                        <td class='numbers'>{{ district_totals.found|intcomma }}</td>
                        <td class='numbers'>{{ district_totals.visited_sprayed|intcomma }} </td>
                        {% calc_percentage district_totals.visited_sprayed district_totals.structures as spray_effectiveness_percentage %}
                        <td class='numbers {{ spray_effectiveness_percentage|sprayed_effectively_color }}'>{{ spray_effectiveness_percentage }}</td>
                        {% calc_percentage district_totals.found district_totals.structures as found_coverage_percentage %}
                        <td class='numbers'>{{ found_coverage_percentage }}</td>
                        {% calc_percentage district_totals.visited_sprayed district_totals.found as spray_coverage_percentage %}
                        <td class='numbers'>{{ spray_coverage_percentage }}</td>
                    {% endif%}
                </tr>
            </tfoot>
        </table>
        <p>* To sort a column, click on the column name</p>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table').DataTable();
        } );
    </script>
{% endblock %}