{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}

{% block content %}
        <div class="container" id="district_table">
            <div "col-sm-12" id="table-container">
                <h1 id="district-name">District:{% if district_name %} {{ district_name }}{% else %} All{% endif%}</h1>
                <table id="target_areas" class="tablesaw tablesaw-swipe" data-mode="swipe" data-minimap data-sortable data-sortable-switch>
                    <thead>
                        <tr>
                            <th data-priority="persist" data-sortable-col data-sortable-default-col>Target Area</th>
                            <th data-sortable-col> Homesteads/Households targeted (N)</th>
                            <th data-sortable-col> Structures targeted (N)</th>
                            <th data-sortable-col> Homesteads/Households found (N; %)</th>
                            <th data-sortable-col> Structures found (N; %)</th>
                            <th data-sortable-col> Structures sprayed (N; %)</th>
                            <th data-sortable-col> Sprayble structures refused (N; %)</th>
                            <th data-sortable-col> Sprayble structures not sprayed(other reasons) (N; %)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for district in district_list %}
                        <tr>
                            <td>
                                {% if higher_level_map and not district_name %}
                                <a href="{% url 'target_area' district.pk district.rank %}">
                                    <i class="fa fa-map"></i>
                                </a>
                                {% endif %}
                                {% if district.level == ta_level %}
                                <a href="{% url 'target_area' district.parent_id district.pk %}">
                                    <i class="fa fa-map"></i>
                                    {{ district.name }}
                                </a>
                                {% else %}
                                <a href="{% url 'district' district.pk %}">{{ district.name }}</a>
                                {% endif %}
                            </td>
                            <td class='numbers'>{{ district.homesteads|intcomma }}</td>
                            <td class='numbers'>{{ district.structures|intcomma }}</td>
                            <td class='numbers'>({{ district.visited_total|intcomma }}; {% percentage district.visited_total district.homesteads %})</td>
                            <td class='numbers'>({{ district.found|intcomma }}; {% percentage district.found district.structures %})</td>
                            <td class='numbers'>({{ district.visited_sprayed|intcomma }}; {% percentage district.visited_sprayed district.structures %})</td>
                            <td class='numbers'>{{ district.visited_refused|intcomma }} ({% percentage district.visited_refused district.found %})</td>
                            <td class='numbers'>({{ district.visited_other|intcomma }}; {% percentage district.visited_other district.found %})</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Totals</a></td>
                            <td class='numbers'>{{ district_totals.homesteads|intcomma  }}</td>
                            <td class='numbers'>{{ district_totals.structures|intcomma  }}</td>
                            <td class='numbers'>{{ district_totals.visited_total|intcomma  }} ({% percentage district_totals.visited_total district_totals.homesteads %})</td>
                            <td class='numbers'>{{ district_totals.found|intcomma  }} ({% percentage district_totals.found district_totals.structures %})</td>
                            <td class='numbers'>{{ district_totals.visited_sprayed|intcomma  }} ({% percentage district_totals.visited_sprayed district_totals.structures %})</td>
                            <td class='numbers'>{{ district_totals.visited_refused|intcomma  }} ({% percentage district_totals.visited_refused district_totals.found %})</td>
                            <td class='numbers'>{{ district_totals.visited_other|intcomma  }} ({% percentage district_totals.visited_other district_totals.found %})</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/tablesaw.js" %}"></script>
{% endblock %}
