{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}

{% block content %}
        <div class="container" id="district_table">
            <div "col-sm-12" id="table-container">
                <h1 id="district-name">District:{% if district_name %} {{ district_name }}{% else %} All{% endif%}</h1>
                <table id="target_areas" class="tablesaw tablesaw-swipe" data-mode="swipe" data-minimap data-sortable data-sortable-switch>
                    <thead>
                        <tr>
                            <th data-priority="persist" data-sortable-col data-sortable-default-col>Target Area</th>
                            <th data-sortable-col>Targeted</th>
                            <th data-sortable-col>Found</th>
                            <th data-sortable-col>Spray Progress</th>
                            <th data-sortable-col>Spray Coverage</th>
                            <th data-sortable-col>Not Sprayed</th>
                            <th data-sortable-col>Not Sprayed - Refused</th>
                            <th data-sortable-col>Not Found</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for district in district_list %}
                        <tr>
                            <td>
                                {% if higher_level_map and not district_name %}
                                <a href="{% url 'target_area' district.targetid district.targetid %}">
                                    <i class="fa fa-map"></i>
                                </a>
                                {% endif %}
                                {% if district_name and district.level == ta_level %}
                                <a href="{% url 'target_area' district_code district.targetid %}">
                                    <i class="fa fa-map"></i>
                                    {{ district.district_name }}
                                </a>
                                {% else %}
                                <a href="{% url 'district' district.targetid %}">{{ district.district_name }}</a>
                                {% endif %}
                            </td>
                            <td class='numbers'>{{ district.structures|intcomma }}</td>
                            <td class='numbers'>{{ district.found|intcomma }} {% if site_name != 'namibia' %}({% percentage district.found district.structures %}){% endif %}</td>
                            <td class='numbers'>{{ district.visited_sprayed|intcomma }} ({% percentage district.visited_sprayed district.structures %})</td>
                            <td class='numbers'>{{ district.visited_sprayed|intcomma }} ({% percentage district.visited_sprayed district.found %})</td>
                            <td class='numbers'>{{ district.visited_not_sprayed|intcomma }} ({% percentage district.visited_not_sprayed district.found %})</td>
                            <td class='numbers'>{{ district.visited_refused|intcomma }} ({% percentage district.visited_refused district.visited_not_sprayed %})</td>
                            <td class='numbers'>{{ district.not_visited|intcomma }} ({% percentage district.not_visited district.structures %})</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Totals</a></td>
                            <td class='numbers'>{{ district_totals.structures|intcomma  }}</td>
                            <td class='numbers'>{{ district_totals.found|intcomma  }}  {% if site_name != 'namibia' %}({% percentage district_totals.found district_totals.structures %}){% endif %}</td>
                            <td class='numbers'>{{ district_totals.visited_sprayed|intcomma  }} ({% percentage district_totals.visited_sprayed district_totals.structures %})</td>
                            <td class='numbers'>{{ district_totals.visited_sprayed|intcomma  }} ({% percentage district_totals.visited_sprayed district_totals.found %})</td>
                            <td class='numbers'>{{ district_totals.visited_not_sprayed|intcomma  }} ({% percentage district_totals.visited_not_sprayed district_totals.found %})</td>
                            <td class='numbers'>{{ district_totals.visited_refused|intcomma  }} ({% percentage district_totals.visited_refused district_totals.visited_not_sprayed %})</td>
                            <td class='numbers'>{{ district_totals.not_visited|intcomma  }} ({% percentage district_totals.not_visited district_totals.structures %})</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/tablesaw.js" %}"></script>
{% endblock %}
