{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}
{% load progress_extras %}

{% block content %}
<div class="container" id="district_table">
    <div "col-sm-12" id="table-container">
        <h1 id="district-name">No Location Spray Data</h1>
        <table id="target_areas" class="table table-stripe">
            <thead>
                <tr>
                    <th>District</th>
                    <th>Found Structures</th>
                    <th>New Structures</th>
                    <th>Sprayed</th>
                    <th>Spray Effectiveness</th>
                </tr>
            </thead>
            <tbody>
                {% for district, val in district_data.items %}
                    <tr>
                        <td>
                            <a href="{% url 'target_area' district.targetid district.targetid %}">

                            </a>
                            <a href="{% url 'district' district.targetid %}">{{ district.district_name }}</a>
                        </td>
                        <td class='numbers'>{{ val.found|default_if_none:" "|intcomma }}</td>
                        <td class='numbers'>{{ val.new_structures|default_if_none:" "|intcomma }}</td>
                        <td class='numbers'>{{ val.sprayed|default_if_none:" "|intcomma }}</td>
                        {% if val.sprayed and val.found %}
                         {% calc_percentage val.sprayed val.found as spray_effectiveness_percentage %}
                         <td class='numbers {{ spray_effectiveness_percentage|sprayed_effectively_color }}'>{{ spray_effectiveness_percentage }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr>
                {% endfor %}
                <tr>
                    <td>Not in Targeted Area</td>
                    <td class='numbers'>{{ no_location.found|default_if_none:" "|intcomma }}</td>
                    <td class='numbers'>{{ no_location.new_structures|default_if_none:" "|intcomma }}</td>
                    <td class='numbers'>{{ no_location.sprayed|default_if_none:" "|intcomma }}</td>
                    {% if no_location.sprayed and no_location.found %}
                     {% calc_percentage no_location.sprayed no_location.found as spray_effectiveness_percentage %}
                     <td class='numbers {{ spray_effectiveness_percentage|sprayed_effectively_color }}'>{{ spray_effectiveness_percentage }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class='numbers'>{{ total.found|intcomma }}</td>
                    <td class='numbers'>{{ total.new_structures|intcomma }}</td>
                    <td class='numbers'>{{ total.sprayed|intcomma }}</td>
                    {% if total.sprayed and total.found %}
                     {% calc_percentage total.sprayed total.found as spray_effectiveness_percentage %}
                     <td class='numbers {{ spray_effectiveness_percentage|sprayed_effectively_color }}'>{{ spray_effectiveness_percentage }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
            </tfoot>
        </table>
        <p>* To sort a column, click on the column name</p>

        {% include 'definitions-and-conditions.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table').DataTable({
                "paging": false,
            });
        } );
    </script>
{% endblock %}
