{% extends 'home/base.html' %}
{% block content %}

<section>
    <div class="container">
        <h2>Trial Survey</h2>

        <table class='table table-stripe'>
            <thead>
                <tr>
                    <th rowspan=3>District</th>
                    {% for survey in surveys %}
                    <th colspan=4>Survey {{ survey }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for survey in surveys %}
                    <th rowspan=2>Houses Reached</th>
                    <th colspan=3>Samples Collected</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for survey in surveys %}
                    <th>Aspirator</th>
                    <th>Light Trap</th>
                    <th>Total</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for key, result in results.items %}
                <tr>
                    <td><a href=>{{ key }}</a></td>
                    <td>{{ result.1.houses_reached }}</td>
                    <td>{{ result.1.aspirator }}</td>
                    <td>{{ result.1.light_trap }}</td>
                    <td>{{ result.1.aspirator|add:result.1.light_trap }}</td>
                    <td>{{ result.2.houses_reached }}</td>
                    <td>{{ result.2.aspirator }}</td>
                    <td>{{ result.2.light_trap }}</td>
                    <td>{{ result.2.aspirator|add:result.2.light_trap }}</td>
                    <td>{{ result.3.houses_reached }}</td>
                    <td>{{ result.3.aspirator }}</td>
                    <td>{{ result.3.light_trap }}</td>
                    <td>{{ result.3.aspirator|add:result.3.light_trap }}</td>
                    <td>{{ result.4.houses_reached }}</td>
                    <td>{{ result.4.aspirator }}</td>
                    <td>{{ result.4.light_trap }}</td>
                    <td>{{ result.4.aspirator|add:result.4.light_trap }}</td>
                    <td>{{ result.5.houses_reached }}</td>
                    <td>{{ result.5.aspirator }}</td>
                    <td>{{ result.5.light_trap }}</td>
                    <td>{{ result.5.aspirator|add:result.5.light_trap }}</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            {% for key, result in results.items %}
                {% if forloop.first %}
                <tr>
                    <td>Total</td>
                    <td>{{ result.1.totals.0.total_houses_reached }}</td>
                    <td>{{ result.1.totals.1.total_aspirators }}</td>
                    <td>{{ result.1.totals.2.total_light_traps }}</td>
                    <td>{{ result.1.totals.1.total_aspirators|add:result.1.totals.2.total_light_traps }}</td>
                    <td>{{ result.2.totals.0.total_houses_reached }}</td>
                    <td>{{ result.2.totals.1.total_aspirators }}</td>
                    <td>{{ result.2.totals.2.total_light_traps }}</td>
                    <td>{{ result.2.totals.1.total_aspirators|add:result.1.totals.2.total_light_traps }}</td>
                    <td>{{ result.3.totals.0.total_houses_reached }}</td>
                    <td>{{ result.3.totals.1.total_aspirators }}</td>
                    <td>{{ result.3.totals.2.total_light_traps }}</td>
                    <td>{{ result.3.totals.1.total_aspirators|add:result.1.totals.2.total_light_traps }}</td>
                    <td>{{ result.4.totals.0.total_houses_reached }}</td>
                    <td>{{ result.4.totals.1.total_aspirators }}</td>
                    <td>{{ result.4.totals.2.total_light_traps }}</td>
                    <td>{{ result.4.totals.1.total_aspirators|add:result.1.totals.2.total_light_traps }}</td>
                    <td>{{ result.5.totals.0.total_houses_reached }}</td>
                    <td>{{ result.5.totals.1.total_aspirators }}</td>
                    <td>{{ result.5.totals.2.total_light_traps }}</td>
                    <td>{{ result.5.totals.1.total_aspirators|add:result.1.totals.2.total_light_traps }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tfoot>

        </table>
    </div>
</section>

{% endblock %}

