body{
    margin:0; padding:0; font:13px Arial;
}

.form-control{
    border-radius:0;
    font-size:13px;
    height:auto;
    padding:0.5em!important;
}
.target_filter{
    display:block!important;
    width:100%!important;
}

.navbar{
    border-radius:0;
	min-height:4em;
    z-index:100;
}
.navbar-brand{
    font-weight:bold;
}
.leaflet-top{
	margin-top:1em;
}
.navbar-brand, .navbar-nav > li > a{
	color:#fff!important;
}
.dropdown-menu{
	border-radius:0!important;
	padding-bottom:0;
	padding-top:0;
	max-height:35em;
	overflow-y:auto;
}
.dropdown-menu li a{
	font-size:0.9em;
	padding:0.5em 1em;
}

#map{
	margin-top:3em;
	position:absolute;
	top:0; bottom:0;
	width:100%;
}
#map-legend{
    background:rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position:absolute;
    bottom:0; left:0;
    margin:0.8em 0.8em 2em;
    padding:1em;
    text-align:center;
}
.circle{
    border:12px solid #00D2B8;
    border-radius:20em;
    display:block;
    font-size:3em;
    padding:0.7em 0.3em;
    height:3em;width:3em;
    margin-bottom:0.2em;
}
.day_label{
    font-weight:bold;
}

.info-panel{
    background:rgba(0,0,0,0.8);
    color:#FFF;
    position:absolute;
    top:0;right:0;bottom:0;
    padding:5em 1em 1em;
    z-index:99;
	width:25em;
}
.table-wrap{
    padding:0 1em;
    position:absolute;
    bottom:0;left:0;right:0;
    height:68%;
    overflow:hidden;
}
.table-wrap table{
    margin-top:0;
    height:97%;
    width:100%!important;
}

.target_table tbody{
    display:block;
    margin-top:2.8em;
    position:absolute;
    top:0;bottom:0;
    overflow-y:auto;
}

.target_table tr td{
    box-sizing:border-box!important;
}

/* thead */
.target_table thead td.c1{ width:6.7em; }
.target_table thead td.c2{ width:6.3em; }
.target_table thead td.c3{ width:7em; }
.target_table thead td.c4{ width:8em; }

/* tbody */
.target_table td.c1{ width:4.8em; }
.target_table td.c2{ width:5.6em; }
.target_table td.c3{ width:6.8em; }
.target_table td.c4{ width:7em; }

