<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>mSpray</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
<link href='css/boostrap.min.css' rel='stylesheet' />
<link href='css/main.css' rel='stylesheet' />
</head>
<body ng-app="myApp">
	<div ng-controller="TargetCtrl">
	<header class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#msp-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">mSpray</a>
			</div>

			<div class="collapse navbar-collapse" id="msp-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" 
						   data-toggle="dropdown">
							<span class="dist_label">Districts</span> 
							<b class="caret"></b>
						</a>
						<!-- <ul class="dropdown-menu" id="districts_list"></ul> -->
						<ul class="dropdown-menu">
							<li ng-repeat="district in districtData | orderBy: 'district_name':false">
								<a ng-click="getTargetAreas(district.district_name)" href="#{{ district.district_name }}">
									{{ district.district_name }}
								 </a>
							</li>
						</ul>
					</li>
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" 
						   data-toggle="dropdown">
							<span class="target_label">Target Areas</span> 
							<b class="caret"></b>
						</a>
						<ul id="target_areas_list" class="dropdown-menu"></ul>
					</li> -->
				</ul>
			</div>
		</div>
	</header>

	<section class="info-panel col-md-2">
		<h4>District: <span class="dist_label">{{ districtLabel }} </span></h4>
		<h4>Target Area: <span class="target_label">{{ targetLabel }} </span></h4>

		<form action="/" method="POST" class="form-inline">
			<input type="text" name="target_filter" class="target_filter form-control" 
				placeholder="Filter target areas" ng-model="filterText"/>
		</form><br/>

		<div class="table-wrap">
		    <ul id="target_areas_list"></ul>
			<table class="target_table table table-bordered">
			<thead>
				<tr>
					<td>Target ID</td> <td>Ranks</td> <td>Houses</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="targets in targetData | filter:filterText">
					<td><a href="#{{ targets.targetid }}"
						ng-click="loadAreaData(targets.targetid)">{{ targets.targetid }}</a></td>
					<td>{{ targets.ranks }}</td>
					<td>{{ targets.houses }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr><td colspan="3">Total</td></tr>
			 </tfoot>
			</table>
		</div>
	</section>

	<div id='map'></div>

	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/custom.js"></script>
	
</div>
</body>
</html>
