{% extends 'home/base.html' %}

{% load staticfiles %}
{% block content %}
       <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Definitions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <p>
                                a - TA's visited are TA's with >20% found coverage - number of structures found / number of structures enumerated
                            </p>
                            <p>
                                b - TA's completed are TAs with >85% spray progress - number of structures sprayed / number of structures targeted
                            </p>
                            <p>
                                c - Start time is determined from the time the first form is completed per day per operator
                            </p>
                            <p>
                                d - Finish time is determined from the time the last form is started per day per operator
                            </p>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Conditional formatting rules</h3>
                    </div>
                    <div class="panel-body">
                        <div "row">
                            <div class="col-md-3">
                                <p><strong>Average structures sprayed per day per SO</strong></p>
                                <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="red">Red</td>
                                        <td>&lt; 12</td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">Yellow</td>
                                        <td>between 12 and 14</td>
                                    </tr>
                                    <tr>
                                        <td class="green">Green</td>
                                        <td> 14</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Average start time</strong></p>
                                <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="red">Red</td>
                                        <td>&gt; 8:30</td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">Yellow</td>
                                        <td>between 8.00 and 8.30</td>
                                    </tr>
                                    <tr>
                                        <td class="green">Green</td>
                                        <td> &lt; 8.00</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Average end time</strong></p>
                                <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="red">Red</td>
                                        <td>&lt; 14:00</td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">Yellow</td>
                                        <td>between 14.00 and 15.00</td>
                                    </tr>
                                    <tr>
                                        <td class="green">Green</td>
                                        <td> &gt; 15.00</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <p><strong>Spray Effectiveness</strong></p>
                                <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="green">Green</td>
                                        <td>&gt; 85%</td>
                                    </tr>
                                    <tr>
                                        <td class="orange">Green</td>
                                        <td>between 75% and 84%</td>
                                    </tr>
                                    <tr>
                                        <td class="red">Red</td>
                                        <td>between 20% and 74</td>
                                    </tr>
                                    <tr>
                                        <td class="yellow">Yellow</td>
                                        <td>&lt; 20%</td>
                                    </tr>
                                </tbody>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
