{% extends 'home/base.html' %}
{% block content %}

<table class="table table-stripe">
    <thead>
        <tr>
            <th rowspan="3">District</th>
            <th colspan="2">Insecticide Mixing</th>
            <th colspan="8">Spray Technique</th>
            <th rowspan="3">Average DOS Score</th>
        </tr>
        <tr>
            <th rowspan="2">Did the SO mix the insecticide to form a 7.5l solution? (Yes/No)</th>
            <th rowspan="2">Did the SO triple rinse the empty insecticide bottle? (Yes/No)</th>
            <th rowspan="2">Is the SO in full PPE? (Yes/No)</th>
            <th rowspan="2">Is the SO spraying with a pump fitted with a CFV? (Yes/No)</th>
            <th rowspan="2">Have all  belongings, food items, animals/sick persons been removed? (Yes/No)</th>
            <th rowspan="2">Have all items that cannot be removed been covered with plastic sheet? (Yes/No)</th>
            <th rowspan="2">Are there any leaks from the pump? (Yes/No)</th>
            <th rowspan="2">Is the SO spraying with the tip of the nozzle 45 cm away from the wall?(Yes/No)</th>
            <th rowspan="2">Is the SO maintaining the correct speed of spray i.e. 2m of vertical wall surface in 5 sec? (Yes/No)</th>
            <th rowspan="2">Is there a 5cm overlap with each successive swath? (Yes/No)</th>
        </tr>
    </thead>
    <tbody>
        {% for key, row in data.items %}
        <tr>
            <td><a href="{% url "dos-district" row.code %}">{{ key }}</a></td>
            <td class='numbers'>{{ row.correct_mix }}</td>
            <td class='numbers'>{{ row.rinse }}</td>
            <td class='numbers'>{{ row.ppe }}</td>
            <td class='numbers'>{{ row.cfv }}</td>
            <td class='numbers'>{{ row.correct_removal }}</td>
            <td class='numbers'>{{ row.correct_covering }}</td>
            <td class='numbers'>{{ row.leak_free }}</td>
            <td class='numbers'>{{ row.correct_distance }}</td>
            <td class='numbers'>{{ row.correct_speed }}</td>
            <td class='numbers'>{{ row.correct_overlap }}</td>
            <td class='numbers'></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}