{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}
{% load progress_extras %}
{% load i18n %}

{% block content %}
<div class="container" id="district_table">
    <div "col-sm-12" id="table-container">
        <h1 id="district-name">Mop-up</h1>
        <table class="table table-stripe">
            <thead>
                <tr>
                    <th>Health Facility</th>
                    {% if district.name == "Sinda" %}
                    <th>Priority</th>
                    {% endif %}
                    <th>{{ spray_area_label }}</th>
                    <th>Structures on the Ground</th>
                    <th>{{ visited_sprayed_label }}</th>
                    <th>{{ structures_remaining_label }}</th>
                    <th>TLA days</th>
                    <th>{{ spray_effectiveness_label }}</th>
                    <th>Found Coverage</th>
                    <th>{{ spray_coverage_label }}</th>
                    <th>Date of Last Visit</th>
                    <th>Date of Last Decision Form</th>
                </tr>
            </thead>
            <tbody>
                {% for location in mopup_locations %}
                    <tr>
                        <td>
                            {{ location.parent.name }}
                        </td>
                        {% if district.name == "Sinda" %}

                        <td>{{ location.priority|default_if_none:"" }}</td>

                        {% endif %}
                        <td>
                            <a href="{% if 'mda' in request.get_full_path %}{{ MDA_STATIC_PREFIX }}{% endif %}{% url 'target_area' location.parent_id location.pk  %}">
                                <i class="fa fa-map"></i> {{ location.name }}
                            </a>
                        </td>
                        <td class='numbers'>
                            {{ location.structures_on_ground }}
                        </td>
                        <td class='numbers'>
                            {{ location.visited_sprayed }}
                        </td>
                        <td class='numbers {{ location.structures_to_mopup|structures_mopup_colour }}'>
                            {{ location.structures_to_mopup }}
                        </td>
                        <td class='numbers'>
                            {{ location.mopup_days_needed|mopup_days_needed }}
                        </td>
                        <td>
                            {% calc_percentage location.visited_sprayed location.structures_on_ground as spray_effectiveness %}
                            {{ spray_effectiveness }}
                        </td>
                        <td>
                            {% calc_percentage location.visited_found location.structures_on_ground as found_coverage %}
                            {{ found_coverage }}
                        </td>
                        <td>
                            {% calc_percentage location.visited_sprayed location.visited_found as spray_coverage %}
                            {{ spray_coverage }}
                        </td>
                        <td>
                            {{ location.last_visit }}
                        </td>
                        <td class="{{ location.last_decision_date|decision_date_colour:location.last_visit }}">
                            {{ location.last_decision_date|decision_date:location.last_visit }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</a></td>
                    {% if district.name == "Sinda" %}
                    <td> {{ district.priority|default_if_none:"" }} </td>
                    {% endif %}
                    <td class='numbers'>{{ district.name }}</td>
                    <td class='numbers'>{{ totals.structures_on_ground }}</td>
                    <td class='numbers'>{{ totals.visited_sprayed }}</td>
                    <td class='numbers {{ totals.structures_to_mopup|structures_mopup_colour }}'>{{ totals.structures_to_mopup }}</td>
                    <td class='numbers'>{{ totals.mopup_days_needed|mopup_days_needed }}</td>
                    <td class='numbers'>
                        {% calc_percentage totals.visited_sprayed totals.structures_on_ground as spray_effectiveness %}
                        {{ spray_effectiveness }}
                    </td>
                    <td class='numbers'>
                        {% calc_percentage totals.visited_found totals.structures_on_ground as found_coverage %}
                        {{ found_coverage }}
                    </td>
                    <td class='numbers'>
                        {% calc_percentage totals.visited_sprayed totals.visited_found as spray_coverage %}
                        {{ spray_coverage }}
                    </td>
                    <td class='numbers'></td>
                    <td class='numbers'></td>
                </tr>
            </tfoot>
        </table>
        <p>* These estimates are based on only those catchments that have
        already been visited.</p>
        <p>* To sort a column, click on the column name</p>

        {% include 'definitions-and-conditions.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table').DataTable({
                "paging": false,
            });
        } );
    </script>
{% endblock %}
