{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}
{% load progress_extras %}
{% load i18n %}

{% block content %}
<div class="container" id="district_table">
    <div "col-sm-12" id="table-container">
        <h1 id="district-name">Mop-up</h1>
        <table class="table table-stripe">
            <thead>
                <tr>
                    <th>District</th>
                    <th># Health Centers to Mop-up</th>
                    <th>{{ spray_areas_to_mopup_label }}</th>
                    <th>{{ structures_to_mopup_90_label }}</th>
                    <th>TLA days needed for areas needed to reach 90%</th>
                </tr>
            </thead>
            <tbody>
                {% for location in mopup_locations %}
                    <tr>
                        <td>
                            <a href="{% if active_site == 'MDA' %}{% url 'mda:mop-up' location.pk %}{% else %}{% url 'mop-up' location.pk %}{% endif%}">{{ location.name }}</a>
                        </td>
                        <td class='numbers'>
                            {{ location.health_centers_to_mopup }}
                        </td>
                        <td class='numbers'>
                            {{ location.spray_areas_to_mopup }}
                        </td>
                        <td class='numbers {{ location.structures_to_mopup|structures_mopup_colour }}'>
                            {{ location.structures_to_mopup }}
                        </td>
                        <td class='numbers'>
                            {{ location.mopup_days_needed|mopup_days_needed }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</a></td>
                    <td class='numbers'>{{ totals.health_centers_to_mopup }}</td>
                    <td class='numbers'>{{ totals.spray_areas_to_mopup }}</td>
                    <td class='numbers {{ totals.structures_to_mopup|structures_mopup_colour }}'>
                        {{ totals.structures_to_mopup }}
                    </td>
                    <td class='numbers'>
                        {{ totals.mopup_days_needed|mopup_days_needed }}
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>* These estimates are based on only those catchments that have
        already been visited.</p>
        <p>* To sort a column, click on the column name</p>

        {% include 'definitions-and-conditions.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('table').DataTable({
                "paging": false,
            });
        } );
    </script>
{% endblock %}
