{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}

{% block content %}
        <div class="container">
            <h1>Data for: {{ spray_operator_name }}</h1>
            <ol class="breadcrumb">
              <li><a href="{% url "performance:districts" %}">Districts</a></li>
              <li><a href="{% url "performance:team-leaders" district.code %}">Team Leaders</a></li>
              <li><a href="{% url "performance:spray-operator-summary" district.code team_leader %}">Spray Operators</a></li>
              <li class="active">Spray Operator</li>
            </ol>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th rowspan="3">Day</th>
                                <th rowspan="3">Start time</th>
                                <th rowspan="3">End time</th>
                                <th rowspan="3">Duration in field</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                                <tr>
                                    <td>{{ row.day }}</a></td>
                                    <td class='numbers {{ row.avg_start_time|avg_start_time_color }}'>{{ row.avg_start_time|format_avg_time }}</td>
                                    <td class='numbers {{ row.avg_end_time|avg_end_time_color }}'>{{ row.avg_end_time|format_avg_time }}</td>
                                    <td class='numbers'>{% avg_time_interval row.avg_end_time row.avg_start_time %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Totals</td>
                                <td class='numbers {{ totals.avg_start_time|avg_start_time_color }}'>{{ totals.avg_start_time|format_avg_time }}</td>
                                <td class='numbers {{ totals.avg_end_time|avg_end_time_color }}'>{{ totals.avg_end_time|format_avg_time }}</td>
                                <td class='numbers'>{% avg_time_interval totals.avg_end_time totals.avg_start_time %}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
