{% extends 'home/base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load performance_extras %}

{% block content %}
        <div class="container">
            <h1>{{ team_leader_name }}</h1>
            <ol class="breadcrumb">
              <li><a href="{% url "performance:districts" %}">Districts</a></li>
              <li><a href="{% url "performance:team-leaders" district.pk %}">{{ SUPERVISOR_LABEL_PLURAL }}</a></li>
               <li class="active">{{ COMMUNITY_HEALTH_WORKER_LABEL_PLURAL }}</li>
            </ol>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th rowspan="2">{{ COMMUNITY_HEALTH_WORKER_LABEL }}</th>
                                <th rowspan="2">Number of <br/> days worked</th>
                                <th colspan="3">Structures</th>
                                <!-- <th rowspan="2">Spray Coverage</th> -->
                                <th rowspan="2">Average structures <br />found per day</th>
                                <th rowspan="2">Average start time</th>
                                <th rowspan="2">Average end time</th>
                                <th rowspan="2">Duration in field</th>
                                <th rowspan="2">Data Quality Check</th>
                                <th rowspan="2">Found Difference (Latest Submission)</th>
                                <th rowspan="2">Sprayed Difference (Latest Submission)</th>
                            </tr>
                            <tr>
                                <th rowspan="2">Found</th>
                                <th rowspan="2">Sprayed</th>
                                <th rowspan="2">Not sprayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                                <tr>
                                    {% if 'mda' not in request.get_full_path %}
                                    <td><a href="{% url "performance:spray-operator-daily" district.id team_leader row.spray_operator_id %}">{{ row.name }}</a></td>
                                    {% else %}
                                    <td><a href="{% url "mda:performance:spray-operator-daily" district.id  row.spray_operator_id %}">{{ row.name }}</a></td>
                                    {% endif %}
                                    <td class='numbers'>{{ row.no_of_days_worked|intcomma   }}</td>
                                    <td class='numbers'>{{ row.sprayable|intcomma  }}</td>
                                    <td class='numbers'>{{ row.sprayed|intcomma  }}</td>
                                    <td class='numbers'>{{ row.not_sprayed_total }}</td>
                                    <!-- <td class='numbers'>{{ row.spray_success_rate }}%</td> -->
                                    <td class='numbers {{ row.avg_structures_per_so|sprayed_color }}'>
                                        {{row.avg_structures_per_so|floatformat:"0" }}
                                    </td>
                                    <td class='numbers {{ row.avg_start_time|avg_start_time_color }}'>{{ row.avg_start_time|format_avg_time }}</td>
                                    <td class='numbers {{ row.avg_end_time|avg_end_time_color }}'>{{ row.avg_end_time|format_avg_time }}</td>
                                    <td class='numbers'>{% avg_time_interval row.avg_end_time row.avg_start_time %}</td>
                                    <td>
                                        {% if row.data_quality_check %}
                                            <i class="fa fa-check green" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-times red" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ row.found_difference }}</td>
                                    <td>{{ row.sprayed_difference }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Totals</td>
                                <td class='numbers'>{{ totals.no_of_days_worked|intcomma  }}</td>
                                <td class='numbers'>{{ totals.sprayable|intcomma  }}</td>
                                <td class='numbers'>{{ totals.sprayed|intcomma  }}</td>
                                <td class='numbers'>{{ totals.not_sprayed_total }}</td>
                                <!-- <td class='numbers'>{{ totals.spray_success_rate }}%</td> -->
                                <td class='numbers {{ totals.avg_structures_per_so|sprayed_color }}'>
                                    {{ totals.avg_structures_per_so|floatformat:"0" }}
                                </td>
                                <td class='numbers {{ totals.avg_start_time|avg_start_time_color }}'>{{ totals.avg_start_time|format_avg_time }}</td>
                                <td class='numbers {{ totals.avg_end_time|avg_end_time_color }}'>{{ totals.avg_end_time|format_avg_time }}</td>
                                <td class='numbers'>{% avg_time_interval totals.avg_end_time totals.avg_start_time %}</td>
                                <td>
                                    {% if totals.data_quality_check %}
                                        <i class="fa fa-check green" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-times red" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td>{{ totals.found_difference }}</td>
                                <td>{{ totals.sprayed_difference }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% include 'definitions-and-conditions.html' %}
        </div>
{% endblock %}
