{% load staticfiles %}
<html>
    <head>
        <title>Performance - Team Leader</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href='{% static "css/main.css" %}' rel='stylesheet' />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="{% static "img/mSpray-logo.png" %}" alt="mspray" id="mspray-logo" /> Zambia</a>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th rowspan="3">Team Leader</th>
                                <th colspan="6">Structures</th>
                                <th rowspan="3">Spray success rate</th>
                                <th rowspan="3">Average structures sprayed per day per SO</th>
                            </tr>
                            <tr>
                                <th colspan="2">Found</th>
                                <th rowspan="2">Sprayed</th>
                                <th colspan="3">Not sprayed</th>
                            </tr>
                            <tr>
                                <th>Sprayable</th>
                                <th>Non-Sprayable</th>
                                <th>Refused</th>
                                <th>Other</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team_leader,row in data.items %}
                                <tr>
                                    <td>{{ team_leader }}</td>
                                    <td>{{ row.sprayable }}</td>
                                    <td>{{ row.not_sprayable }}</td>
                                    <td>{{ row.sprayed }}</td>
                                    <td>{{ row.refused }}</td>
                                    <td>{{ row.other }}</td>
                                    <td>{{ row.not_sprayed_total }}</td>
                                    <td>{{ row.spray_success_rate }}%</td>
                                    {% if row.avg_structures_per_user_per_so < 12 %}
                                        <td style="background-color: red">
                                    {% elif row.avg_structures_per_user_per_so > 12  and row.avg_structures_per_user_per_so < 14 %}
                                        <td style="background-color: yellow">
                                    {% elif row.avg_structures_per_user_per_so > 14 %}
                                        <td style="background-color: yellow">
                                    {% endif %}
                                        {{ row.avg_structures_per_user_per_so }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>